* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(https://images.unsplash.com/photo-1431032843361-ec2cd229c751?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container {
    padding: 20px;
    background-color: #ffffff75;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;

}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;

}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #30139b;

}

#paper {
    background-color: #c2e016;

}

#scissors {
    background-color: #35df1e;

}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span {
    color: #f31607
}

.machine-score span {
    color: #0b3744
}